.container {
  margin: auto;
}

.row {
  display: flex;
}

.btnBlue {
  color: white;
  background-color: rgb(74, 74, 232);
  font-size: 20px;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.75);
}

.margin-top-left-10px {
  margin-top: 10px;
  margin-left: 10px;
}

.margin-top-8px {
  margin-top: 8%;
}

body {
  margin: 0;
  padding: 0;
}

.fullScreen {
  height: 100vh;
}

.survey-show {
  width: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.survey-hide {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.surveyBox {
  border-radius: 5px;
  height: 300px;
  width: 600px;
  background-color: white;
  margin: auto;
  text-align: center;
  opacity: 1;
}

.fontBold {
  font-family: sans-serif;
  font-weight: 900;
}

.fullColumn {
  width: 100%;
}

.surveyButton {
  font-size: 22px;
  background-color: rgb(235, 77, 77);
  color: white;
  height: 50px;
  width: 120px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.75);
}
