.container {
  width: 100%;
  margin: auto;
  height: 800px;
}

.row {
  display: flex;
}

.logo-img {
  width: 180px;
  height: 40px;
  margin-top: 20px;
}

.logo-img-class {
  padding-left: 5%;
  margin-bottom: 1%;
}

.column-half {
  flex-basis: 50%;
}

.nav-bar {
  padding-right: 5%;
  justify-content: flex-end;
}

.align-align-center {
  align-items: center;
}

.hero-img-class {
  height: 600px;
  background: linear-gradient(rgba(77, 77, 77, 0.3), rgba(77, 77, 77, 0.3)), url('images/hero.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 4% 5%;
}

.hero-text {
  width: 50%;
  height: 500px;
  margin-left: 5%;
  margin-top: 7%;
}

.hero-text h1 {
  color: white;
  font-size: 45px;
}

.hero-text p {
  color: white;
  line-height: 1.8;
  letter-spacing: 1.5px;
  font-size: 17px;
}

.hero-text button {
  width: 160px;
  height: 45px;
  font-size: 15px;
  margin-top: 20px;
}

.font-tiempos-headline {
  font-family: 'Tiempos Headline', sans-serif;
}

.clinic-location {
  height: 500px;
  background-color: rgb(250, 250, 250);
}

.font-gray-color {
  color: rgb(110, 110, 110);
}

.column-full {
  flex-basis: 100%;
}

.text-align-center {
  text-align: center;
}

.clinic-location-text {
  margin-bottom: 80px;
}

.clinic-location-text p {
  margin-top: 0;
  margin-bottom: 0;
}

.font-Avenir {
  font-family: 'Avenir', sans-serif;
}

.learn-more-section {
  margin: 1.5% 5%;
}

.learn-more-section button {
  margin-top: 35px;
  float: right;
  height: 40px;
  width: 160px;
}

.canvas-info {
  height: 400px;
  background-color: rgb(82, 83, 81);
  color: white;
  padding: 6% 5%;
}

.canvas-white-logo {
  width: 60%;
}

.canvas-white-logo img {
  width: 160px;
  margin-bottom: 35px;
}

.canvas-info p {
  line-height: 7px;
}

.canvas-links {
  flex-direction: column;
  width: 20%;
}

.a-canvaslink {
  color: white;
  margin-bottom: 10px;
}

.blue-button {
  background-color: rgb(41, 67, 99);
  color: white;
  border: none;
  border-radius: 3px;
  height: 35px;
  width: 90px;
  margin-top: 8px;
}

.footer-column {
  margin: 3% 5%;
}

a {
  padding-top: 8px;
  color: rgb(160, 160, 160);
  text-decoration: none;
  margin-right: 40px;
}

.horizontal-line {
  border-bottom: 1px solid rgb(206, 205, 205);
}
